<?php

#db access
if (!defined('PERSONAS_USERNAME')) { define('PERSONAS_USERNAME', 'personas'); }
if (!defined('PERSONAS_PASSWORD')) { define('PERSONAS_PASSWORD', 'personas'); }
if (!defined('PERSONAS_HOST')) { define('PERSONAS_HOST', 'localhost'); }
if (!defined('PERSONAS_DB')) { define('PERSONAS_DB', 'personas'); }


#recaptcha data
if (!defined('RECAPTCHA_PUBLIC_KEY')) { define('RECAPTCHA_PUBLIC_KEY', ''); }
if (!defined('RECAPTCHA_PRIVATE_KEY')) { define('RECAPTCHA_PRIVATE_KEY', ''); }


#location code for this install
if (!defined('PERSONAS_LOCALE')) 
{ 
	define('PERSONAS_LOCALE', 'us'); 
}


#path to the generated html/json/images tree
if (!defined('PERSONAS_STORAGE_PREFIX')) 
{ 
	define('PERSONAS_STORAGE_PREFIX', '/Users/telliott/mozilla/personas/server/store'); 
}
if (!defined('PERSONAS_PENDING_PREFIX')) 
{ 
	define('PERSONAS_PENDING_PREFIX', '/Users/telliott/mozilla/personas/server/pending'); 
}


#html path to the root of the html/json/images tree for approvals
if (!defined('PERSONAS_URL_PREFIX')) 
{ 
	define('PERSONAS_URL_PREFIX', 'http://localhost/personas/pending'); 
}
#html path to the root of the html/json/images tree for display
if (!defined('PERSONAS_LIVE_PREFIX')) 
{ 
	define('PERSONAS_LIVE_PREFIX', '/personas/store'); 
}

if (!defined('PERSONAS_BUILD_SERVER')) 
{ 
	define('PERSONAS_BUILD_SERVER', 'http://localhost'); 
}


#salt for login cookie generation
if (!defined('PERSONAS_LOGIN_SALT')) { define('PERSONAS_LOGIN_SALT', 'OurSalt'); }


#ids of the persona being featured for the featured personas
if (!defined('FEATURED_PERSONAS')) { define('FEATURED_PERSONAS', "1:2:3:4"); }

#ids of the persona being featured for the featured designers
if (!defined('FEATURED_DESIGNERS')) { define('FEATURED_DESIGNERS', "1:2:3:4"); }

#old version of featured designer
if (!defined('FEATURE_DESIGNER_PERSONA_ID')) { define('FEATURE_DESIGNER_PERSONA_ID', 1); }

#page size for most gallery pages
if (!defined('PERSONA_GALLERY_PAGE_SIZE')) { define('PERSONA_GALLERY_PAGE_SIZE', 42); }

#page size for 'all' gallery pages
if (!defined('PERSONA_GALLERY_ALL_PAGE_SIZE')) { define('PERSONA_GALLERY_ALL_PAGE_SIZE', 501); }


#Download URL for add-on
if (!defined('PERSONAS_ADDON_URL')) { define('PERSONAS_ADDON_URL', 'https://addons.mozilla.org/en-US/firefox/downloads/latest/10900'); }

#optional memcached constants. Set to null to disable
if (!defined('MEMCACHE_PORT')) { define('MEMCACHE_PORT', null); }
if (!defined('MEMCACHE_DECAY')) { define('MEMCACHE_DECAY', null); }

#password to access the readlog portion of the site
if (!defined('READLOG_PASS')) { define('READLOG_PASS', 'ppass'); }

?>