<?php

#db access
if (!defined('PERSONAS_USERNAME')) { define('PERSONAS_USERNAME', 'personas'); }
if (!defined('PERSONAS_PASSWORD')) { define('PERSONAS_PASSWORD', 'personas'); }
if (!defined('PERSONAS_HOST')) { define('PERSONAS_HOST', 'localhost'); }
if (!defined('PERSONAS_DB')) { define('PERSONAS_DB', 'personas'); }


#path to the generated html/json/images tree
if (!defined('PERSONAS_STORAGE_PREFIX')) 
{ 
	define('PERSONAS_STORAGE_PREFIX', '/Users/telliott/mozilla/personas/server/store'); 
}
if (!defined('PERSONAS_PENDING_PREFIX')) 
{ 
	define('PERSONAS_PENDING_PREFIX', '/Users/telliott/mozilla/personas/server/pending'); 
}


#html path to the root of the html/json/images tree for approvals
if (!defined('PERSONAS_URL_PREFIX')) 
{ 
	define('PERSONAS_URL_PREFIX', 'http://localhost/personas/pending'); 
}
#html path to the root of the html/json/images tree for display
if (!defined('PERSONAS_LIVE_PREFIX')) 
{ 
	define('PERSONAS_LIVE_PREFIX', '/personas/store'); 
}

#salt for login cookie generation
if (!defined('PERSONAS_LOGIN_SALT')) { define('PERSONAS_LOGIN_SALT', 'OurSalt'); }

?>